@model UniversityHandler
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">

    <h1 class="display-4"> University Info </h1>

    <div class="function-container">
            <div class="add-student">
                <i class="bi bi-plus-circle"></i>
                <span>Add University</span>
            </div>
            <div class="search">
                <i class="bi bi-search"></i>
                <input type="search" id="search" name="search" placeholder="Search university...">
            </div>
    </div>
    
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">University ID</th>
            <th scope="col">University Name</th>
            <th scope="col">University Abbreviation</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
            @foreach(var university in Model.GetUniversityList())
            {
                <tr>
                    <td>@university.UniversityID</td>
                    <td>@university.UniversityName</td>
                    <td>@university.UniversityAbbr</td>
                    <td>
                        <span class="option">
                            <i class="bi bi-pencil"></i>
                        </span>
                        <span class="option">
                            <i class="bi bi-trash3"></i>
                        </span>                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
